.Field {
  width: 100%;
}

.RemoveButton {
  position: absolute;
  right: 0;
  height: 36px;
  width: 36px;
}

.ImageListItem {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Image {
  max-height: 150px;
  object-fit: cover;
  width: 100%;
}
