$rmd-dialog-z-index: 1000; // leaflet is around z-index 400
$rmd-menu-z-index: 6000; // sidebar is z-index 5000

@import "~@react-md/avatar/dist/mixins";
@import "~@react-md/button/dist/mixins";
@import "~@react-md/chip/dist/mixins";
@import "~@react-md/dialog/dist/mixins";
@import "~@react-md/divider/dist/mixins";
@import "~@react-md/form/dist/mixins";
@import "~@react-md/icon/dist/mixins";
@import "~@react-md/list/dist/mixins";
@import "~@react-md/menu/dist/mixins";
@import "~@react-md/progress/dist/mixins";
@import "~@react-md/theme/dist/mixins";
@import "~@react-md/typography/dist/mixins";

@import "./fonts";

@include react-md-theme;
@include react-md-utils;

body {
  margin: 0;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}
