@import "./mixins.scss";

.Wrapper {
  display: grid;
  align-items: stretch;
  height: 100%;
  width: 100%;
  grid-template-columns: 320px auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar map";

  @include isMobile {
    grid-template-columns: auto;
    grid-template-areas: "map";
  }
}
