name: Build & Deploy

on:
  - push

jobs:
  frontend:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Switch node version
        shell: bash -l {0}
        run: nvm install

      - name: Install
        run: npm install --no-optional
        working-directory: frontend
      - name: Test
        run: npm test
        working-directory: frontend
      - name: Build
        run: npm run build
        working-directory: frontend

      - name: Deploy
        run: |
          if [[ ${{ github.ref }} == "refs/heads/main" ]]; then
            npm run deploy -- --prod
          else
            npm run deploy
          fi
        working-directory: frontend
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      - name: Sentry Release
        if: github.ref == 'refs/heads/main'
        uses: getsentry/action-release@v1.1.6
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: frontend
        with:
          sourcemaps: frontend/build/static/js
          environment: production
          ignore_empty: true

  backend:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Switch node version
        shell: bash -l {0}
        run: nvm install

      - name: Install
        run: npm ci
        working-directory: backend
      - name: Build
        run: npm run build
        working-directory: backend
      - name: Sentry Release
        if: github.ref == 'refs/heads/main'
        uses: getsentry/action-release@v1.1.6
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
        with:
          environment: production
          ignore_empty: true
          projects: web,worker


  static-map:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Switch node version
        shell: bash -l {0}
        run: nvm install

      - name: Install
        run: npm ci
        working-directory: static-map
      - name: Build
        run: npm run build
        working-directory: static-map

      - name: Deploy
        run: |
          if [[ ${{ github.ref }} == "refs/heads/main" ]]; then
            npm run deploy -- --prod
          else
            npm run deploy
          fi
        working-directory: static-map
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_STATIC_SITE_ID }}